<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/zongzi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/zongzi"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyPlanning"
        tools:targetApi="31">
        <activity
            android:name=".DailyPlanActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListAddActivity"
            android:exported="true"/>
        <activity android:name=".BillAddActivity"
            android:exported="true"/>
        <activity android:name=".ListPagerActivity"
            android:exported="true"/>
        <activity android:name=".BillPagerActivity"
            android:exported="true"/>
    </application>

</manifest>